#app
	height 100%

	.alert-danger
		margin-top 10px

	& > section
		form,
		.content-address
			background-color $white
			padding 30px 60px
			border 1px solid $graymedium

		.content-address
			margin-top 10px