input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=number],
input[type=file],
input[type=tel],
select, textarea
	height 50px
	line-height 16px
	padding 13px 14px
	border 1px solid $graymedium
	background #fff
	&:focus
		outline none

textarea
	resize none
	overflow auto
	margin-bottom 30px
	height 170px


/* ======== ALERTAS ======== */
.alert
	display block
	padding 14px
	font-size 13px
	border-radius 3px
	margin-bottom 20px

.alert-danger
	@extend .alert
	background #ffeded
	color #c53b3b

.message-fail
	background #ce6565

.message-success
	background #41b88f

.error
	border 1px solid red !important